In [7]:
from pyspark.sql import functions as Func
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkApp").getOrCreate()

In [8]:
arqschema = "id INT, nome STRING, status STRING, cidade STRING, vendas INT, data STRING"
despachantes_dataframe = spark.read.csv("/home/anycaroliny/download/despachantes.csv",header=False, schema=arqschema)
despachantes_dataframe.write.option("path","/home/anycaroliny/tabela_spark").saveAsTable("despachantes_tabela")
despachantes_dataframe
spark.sql("describe despachantes_tabela").show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|      id|      int|   null|
|    nome|   string|   null|
|  status|   string|   null|
|  cidade|   string|   null|
|  vendas|      int|   null|
|    data|   string|   null|
+--------+---------+-------+

In [9]:
# Sintaxe para tabela
spark.sql("select nome,vendas from despachantes_tabela where vendas > 30").show()

# Sintaxe para dataframe
despachantes_dataframe.select("nome","vendas").where(Func.col("vendas") > 30).show()

+-------------------+------+
|               nome|vendas|
+-------------------+------+
|    Deolinda Vilela|    34|
|   Emídio Dornelles|    34|
|Felisbela Dornelles|    36|
|    Noêmia   Orriça|    45|
|      Roque Vásquez|    65|
|      Uriel Queiroz|    54|
+-------------------+------+

+-------------------+------+
|               nome|vendas|
+-------------------+------+
|    Deolinda Vilela|    34|
|   Emídio Dornelles|    34|
|Felisbela Dornelles|    36|
|    Noêmia   Orriça|    45|
|      Roque Vásquez|    65|
|      Uriel Queiroz|    54|
+-------------------+------+

In [12]:
# Agrupando a quantidade de vendas por cidade
# ordenando decrescentemente de acordo com a 
# coluna de soma de vendas de indice 2
spark.sql("select cidade, sum(vendas) from despachantes_tabela group by cidade order by 2 desc").show()


despachantes_dataframe.groupBy("cidade").agg(sum("vendas")).orderBy(Func.col("sum(vendas)").desc()).show()

+-------------+-----------+
|       cidade|sum(vendas)|
+-------------+-----------+
| Porto Alegre|        223|
|  Santa Maria|         68|
|Novo Hamburgo|         34|
+-------------+-----------+

+-------------+-----------+
|       cidade|sum(vendas)|
+-------------+-----------+
| Porto Alegre|        223|
|  Santa Maria|         68|
|Novo Hamburgo|         34|
+-------------+-----------+

In [ ]:
|