In [3]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkApp").getOrCreate()

23/07/06 11:04:42 WARN Utils: Your hostname, anycaroliny-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/07/06 11:04:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/07/06 11:04:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [20]:
# Nao precisa do .format pois parquet ja eh o formato padrao
clientes = spark.read.format("parquet").load("/home/anycaroliny/download/Atividades/Clientes.parquet")
clientes.write.option("path","/home/anycaroliny/clientes").saveAsTable("tbclientes")

In [21]:
itens_venda = spark.read.format("parquet").load("/home/anycaroliny/download/Atividades/ItensVendas.parquet")
itens_venda.write.option("path","/home/anycaroliny/itensvenda").saveAsTable("tbitensvenda")

In [22]:
produtos = spark.read.format("parquet").load("/home/anycaroliny/download/Atividades/Produtos.parquet")
produtos.write.option("path","/home/anycaroliny/produtos").saveAsTable("tbprodutos")

In [23]:
vendas = spark.read.format("parquet").load("/home/anycaroliny/download/Atividades/Vendas.parquet")
vendas.write.option("path","/home/anycaroliny/vendas").saveAsTable("tbvendas")

In [24]:
vendedores = spark.read.format("parquet").load("/home/anycaroliny/download/Atividades/Vendedores.parquet")
vendedores.write.option("path","/home/anycaroliny/vendedores").saveAsTable("tbvendedores")

In [26]:
spark.sql("select * from tbvendas").show()

+--------+----------+---------+---------+--------+
|VendasID|VendedorID|ClienteID|     Data|   Total|
+--------+----------+---------+---------+--------+
|       1|         1|       91| 1/1/2019|  8053.6|
|       2|         6|      185| 1/1/2020|   150.4|
|       3|         7|       31| 2/1/2020|  6087.0|
|       4|         5|       31| 2/1/2019| 13828.6|
|       5|         5|       31| 3/1/2018|26096.66|
|       6|         5|       31| 4/1/2020| 18402.0|
|       7|         5|       31| 6/1/2019|  7524.2|
|       8|         5|      186| 6/1/2019| 12036.6|
|       9|         7|       91| 6/1/2020| 2804.75|
|      10|         2|      202| 6/1/2020|  8852.0|
|      11|         7|       58| 8/1/2019|16545.25|
|      12|         7|       58| 9/1/2018|11411.88|
|      13|         7|       58|10/1/2019| 15829.7|
|      14|         3|      249|12/1/2020| 6154.36|
|      15|         4|      249|12/1/2018| 3255.08|
|      16|         7|      192|13/1/2020| 2901.25|
|      17|         2|       79|13/1/2019| 15829.7|
|      18|        10|       79|14/1/2019|16996.36|
|      19|        10|      191|14/1/2019|   155.0|
|      20|         9|      218|15/1/2018|  131.75|
+--------+----------+---------+---------+--------+
only showing top 20 rows

In [33]:
spark.sql("select tbclientes.Cliente, tbvendas.Data, tbprodutos.Produto, tbitensvenda.ValorTotal, tbvendedores.Vendedor from tbclientes join tbvendas on (tbclientes.ClienteID = tbvendas.ClienteID) join tbitensvenda on (tbvendas.VendasID = tbitensvenda.VendasID) join tbprodutos on (tbitensvenda.ProdutoID = tbprodutos.ProdutoID) join tbvendedores on (tbvendas.VendedorID = tbvendedores.VendedorID)").show()

+-----------------+--------+--------------------+----------+----------------+
|          Cliente|    Data|             Produto|ValorTotal|        Vendedor|
+-----------------+--------+--------------------+----------+----------------+
|   Cosme Zambujal|1/1/2019|Bicicleta Altools...|   7820.85|    Armando Lago|
|   Cosme Zambujal|1/1/2019|Bermuda Predactor...|     97.75|    Armando Lago|
|   Cosme Zambujal|1/1/2019|Camiseta Predacto...|     135.0|    Armando Lago|
|Gertrudes Hidalgo|1/1/2020|Luva De Ciclismo ...|     150.4|   Iberê Lacerda|
| Antão Corte-Real|2/1/2020|Capacete Gometws ...|     155.0|Jéssica Castelão|
| Antão Corte-Real|2/1/2020|Bicicleta Gometws...|    5932.0|Jéssica Castelão|
| Antão Corte-Real|2/1/2019|Bicicleta Altools...|   7820.85|  Hélio Liberato|
| Antão Corte-Real|2/1/2019|Bermuda Predactor...|     97.75|  Hélio Liberato|
| Antão Corte-Real|2/1/2019|Bicicleta Gometws...|    5910.0|  Hélio Liberato|
| Antão Corte-Real|3/1/2018|Bicicleta Gometws...|    2955.0|  Hélio Liberato|
| Antão Corte-Real|3/1/2018|Bicicleta Trinc C...|    7658.0|  Hélio Liberato|
| Antão Corte-Real|3/1/2018|Bicicleta Aro 29 ...|    8852.0|  Hélio Liberato|
| Antão Corte-Real|3/1/2018|Camiseta Predacto...|     121.5|  Hélio Liberato|
| Antão Corte-Real|3/1/2018|Bicicleta Gts Adv...|   6510.16|  Hélio Liberato|
| Antão Corte-Real|4/1/2020|Bicicleta Altools...|   18402.0|  Hélio Liberato|
| Antão Corte-Real|6/1/2019|Bicicleta Aro 29 ...|    7524.2|  Hélio Liberato|
|Gertrudes Infante|6/1/2019|Luva De Ciclismo ...|     376.0|  Hélio Liberato|
|Gertrudes Infante|6/1/2019|Bicicleta Gts Adv...|   3616.75|  Hélio Liberato|
|Gertrudes Infante|6/1/2019|Camiseta Predacto...|     108.0|  Hélio Liberato|
|Gertrudes Infante|6/1/2019|Bermuda Predactor...|     115.0|  Hélio Liberato|
+-----------------+--------+--------------------+----------+----------------+
only showing top 20 rows