In [1]:
import findspark

In [2]:
findspark.init('/home/anycaroliny/spark-3.3.2-bin-hadoop3')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

23/03/20 17:02:03 WARN Utils: Your hostname, anycaroliny-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/03/20 17:02:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/20 17:02:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/20 17:02:05 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
df = spark.read.json('people.json') # Reading a JSON file

In [6]:
df.show() # Print JSON content

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
df.printSchema() # Print data types

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.columns # Show collumns of df

['age', 'name']

In [9]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
# Schema

In [12]:
from pyspark.sql.types import (IntegerType, StringType,
                               StructField, StructType)

In [13]:
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)] # [column name, class instance, boolean]

In [14]:
final_schema = StructType(fields=data_schema)

In [15]:
df = spark.read.json('people.json', schema=final_schema)

In [16]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [17]:
# type(df['age'])
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [18]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [19]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [20]:
# df.head()
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
df.head(2)[1]

Row(age=30, name='Andy')

In [22]:
type(df.head(3)[0])

pyspark.sql.types.Row

In [23]:
df.select(['age'])

DataFrame[age: int]

In [24]:
df.withColumn('double_age', df['age']*2).show() # This is not a in place operation, it does not save

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [25]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [26]:
df.withColumnRenamed('age', 'new_age').show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [27]:
df.createOrReplaceTempView('people')

In [28]:
results = spark.sql("SELECT * FROM people")

In [29]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [30]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [31]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [32]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")